

body{
    margin: 0px;
    padding: 0px;
    
}

.page-container {
  padding: 16px;
  margin-top: 0; 
  margin-bottom: 40px; 
}

.page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0; 
  margin-bottom: 20px; 
  padding-top: 0; 
}

.page-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0; 
}

.add-product-button {
  width:20%;
  max-width: 90px;
  padding: 8px 16px;
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.add-product-button:hover {
  background-color: #303f9f; 
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
}

.grid-item {
  box-sizing: border-box;
}

.product-card {
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  padding: 16px;
  transition: all 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
  transform: translateY(-4px); 
}

.product-card-media {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 12px 0 8px; 
}

.product-card-description {
  font-size: 1rem;
  margin-bottom: 8px;
}

.product-card-price {
  font-size: 1.2rem;
  color: #3f51b5;
  font-weight: bold;
}

.product-card-category,
.product-card-stock {
  font-size: 0.9rem;
  color: #757575;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }
} 



